{
  "enabled": true,
  "launch": {
    "name": "Truffaut WebApp",
    "description": "Scenarios fonctionnel, ergonomique, Multiple navigateurs **Desktop/Mobile**. **staging**, `https://staging.truffaut.com`",
    "debugMode": true,
    "tags": [ "Web", "UI", "WebApp", "Staging" ]
  },
  "server": {
    "url": "http://automationasaservice.com/api/v1/",
    "project": "truffaut",
    "authentication": {
      "uuid": "88b2c2fb-9343-4b15-91f9-77a42d07ac66"
    }
  }
}