{
  "enabled": true,
  "launch": {
    "name": "Shapr Mobile, P10 Lite",
    "description": "Ensemble de scenarios fonctionnel(Inscription.., Compte utilisateur...). **Shapr**, `ANDROID`",
    "debugMode": true,
    "tags": [ "NativeApp", "UI" ]
  },
  "server": {
    "url": "http://automationasaservice.com/api/v1/",
    "project": "shapr",
    "authentication": {
      "uuid": "88b2c2fb-9343-4b15-91f9-77a42d07ac66"
    }
  }
}